<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	<title>パスワードリセット申請</title>
</head>

<body>

	<div class="moattravel-wrapper">

		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main class="container mt-4">

			<h2>パスワードリセット申請</h2>

			<!-- loginにリダイレクト-->
			<div th:if="${param.resetRequested}">
				<p class="text-success">
					リセット用リンクを送信しました（ログイン画面から来た場合も表示されます）
				</p>
			</div>

			<form th:action="@{/forgot-password}" method="post">

				<div class="mb-3">
					<label class="form-label">メールアドレス</label>
					<input type="email" name="email" class="form-control" required>
				</div>

				<button class="btn btn-primary" type="submit">送信</button>

			</form>

			<!-- ログインへ戻る -->
			<div class="text-center mt-3">
				<a th:href="@{/login}">ログイン画面へ戻る</a>
			</div>

		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>

	</div>

	<!-- script -->
	<div th:replace="~{fragment :: scripts}"></div>

</body>

</html>